[submodule "common/test"]
	path = common/test
	url = git@github.com:nguyenhieu8790/test001.git
[submodule "commom/test2"]
	path = commom/test2
	url = git@github.com:nguyenhieu8790/test001.git
	branch = dev
